.section-1{
    background-color:#28384a;
    color: white;
    height: 548px;
}
h1{
    font-family: fantasy;
    letter-spacing: 4px;
}
.btn{
    background-color: #3B71CA;
    font-size: 20px;
    font-family:fantasy;
    letter-spacing: 4px;
}
